<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>vlandham</string>
	<key>ordering</key>
	<array>
		<string>4FC2AC16-6D82-40D3-A462-DE9D44BC145C</string>
		<string>E118DC43-D3B8-47A1-9544-395BE17B7BD7</string>
		<string>528A39CE-64A0-46C5-AF28-444DF0C74430</string>
		<string>1537531B-0228-41E6-81B8-77540E9B06AC</string>
	</array>
	<key>uuid</key>
	<string>4B385CED-D4B9-421F-B9AA-D3F1BEE7D1DE</string>
</dict>
</plist>
